#pay-bill-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border-radius: 10px;
    border: none;
    width: 450px;
    z-index: 9990;
}

#pay-bill-box::backdrop {
    background-color: rgba(34, 34, 34, 0.575);
}

#pay-bill-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#pay-bill-form-title {
    font-size: 1.2rem;
    color: white;
}

#pay-bill-form-buttons {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
}

#pay-bill-form__input-box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#pay-bill-form__input-box__warning {
    font-size: 0.8rem;
    color: red;
}

#pay-bill-form-input-box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#pay-bill-form-input-box-header > * {
    font-size: 0.8rem;
    color: white;
}

#pay-bill-form-input-box-header-error {
    color: red;
}

#pay-bill-form__input-box > input {
    padding: 0.5rem;
    width: 100%;
    border: var(--borderDefaultGray);
}