.forget-password-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#forget-password-form-title {
    font-size: 1.2rem;
    color: var(--text);
}

#forget-password-form-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: flex-end;
    align-items: center;
}

#forget-password-form__input-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#forget-password-form__input-box__warning {
    font-size: 0.8rem;
    color: red;
}

#forget-password-form-input-box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#forget-password-form-input-box-header > * {
    font-size: 0.8rem;
    color: var(--text)
}

.form-field__info__label {
    color: var(--text);
}
