.form_dialog {
    background-color: var(--background);
    border: var(--borderDefaultGray);
    border-radius: 10px;
    padding: 1rem;
    width: 450px;
    z-index: 510;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
}

#dialog-backdrop {
    background-color: #22222293;
    position: fixed;
    display: none;
    height: 100dvh;
    width: 100dvw;
    z-index: 500;
    opacity: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -10%);
}

.form_dialog[open], #dialog-backdrop.open {
    animation: slide-fade-in 500ms forwards;
}

.form_dialog[open].closing, #dialog-backdrop.closing {
    animation: slide-fade-out 500ms forwards;
}

@keyframes slide-fade-in {
    0% {
        transform: translate(-50%, -10%);
        opacity: 0;
   }
    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
   }
}

@keyframes slide-fade-out {
    0% {
        transform: translate(-50%, -50%);
        opacity: 1;
   }
    100% {
        transform: translate(-50%, -10%);
        opacity: 0;
   }
}