
nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    height: 100vh;
    border-right: var(--borderDefaultGray);
}

#nav-items {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    cursor: pointer;
    transition: 500ms;
}

.nav-item > * {
    pointer-events: none;
}

.nav-item > div {
    width: 3.3rem;
    height: 1.8rem;
    border-radius: 20px;
    display: grid;
    place-items: center;
    transition: 250ms ease;
}

.nav-item:hover > div {
    background-color: var(--navHover);
}

.nav-item.active > div {
    width:  3.5rem;
    background-color: var(--navActive);
}

#bill-icon {
    width: 1.3rem;
}

.nav-item:hover > div > #user-icon > circle,
.nav-item:hover > div > #user-icon > path,
.nav-item:hover > div > #users-icon > circle,
.nav-item:hover > div > #users-icon > path,
.nav-item:hover > div > #power-icon > line,
.nav-item:hover > div > #power-icon > path {
    stroke-width: 22;
}

.nav-item:hover > div > #bill-icon > path {
    stroke-width: 3;
}

#user-icon > circle,
#user-icon > path,
#users-icon > circle,
#users-icon > path,
#power-icon > line,
#power-icon > path,
#bill-icon > path {
    stroke: var(--text);
}


.nav-item > div > svg {
    width: 1.4rem;
}

.nav-item > p {
    font-size: 0.7rem;
}

@media screen and (max-width: 1280px) {
    .nav-item {
        padding: 0.5rem 1rem;
    }
    .nav-item > div {
        width: 2.5rem;
        border-radius: 13px;
    }
    .nav-item > p {
        font-size: 0.65rem;
        margin-top: 5px;
    }
}