@import url("./navigation.css");
@import url("./search.css");
@import url("./dialog.css");
@import url("./fonts.css");
@import url("./field.css");
@import url("./toast.css");

:root.dark {
    --text: #e6fbff;
    --background: #011e23;
    --lighterPrimary: #ff8e7a;
    --primary: #fd765e;
    --secondary: #272d01;
    --accent: #f62804;
    --transparent: #f0f8ff00;
    --borderDefaultGray: 1px solid rgb(31, 31, 31);
}

:root {
    --text: #efe6ec;
    --background: #160e13;
    --borderlessInputBackground: #241e21;
    --primary: #a77277;
    --navHover: #422b38;
    --navActive: #5f3e51;
    --secondary: #2f241d;
    --accent: #a78772;

    --lighterPrimary: var(--primary);
    --lightestPrimary: var(--primary);
    --transparent: #f0f8ff00;
    --gray: #343434;
    --borderDefaultGray: 1px solid var(--gray);
    --borderDefaultPrimary: 1px solid var(--primary);
    --borderDefaultDarker: 1px solid #ececec;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    color: var(--text) !important;
}

option {
    color: black;
}

p, h1, h2, h3, h4, h5, h6 {
    cursor: default;
}

input {
    color: var(--text);
}

button, input[type="file"] {
    cursor: pointer;
}

svg {
    fill: var(--text);
    pointer-events: none;
}

.button-primary {
    padding: 0.5rem 0.9rem;
    font-size: 0.8rem;
    background-color: var(--primary);
    color: var(--background);
    border-radius: 20px;
    border: none;
    transition: 250ms ease;
}

.button-primary:hover {
    background-color: var(--accent);
}

.page {
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    position: fixed;
    top: 100%;
    transition: 450ms ease-out;
    opacity: 0;
}

.page.active {
    top: 0%;
    opacity: 1;
}

.borderless-input {
    border: none !important;
    border-bottom: 1px solid var(--gray) !important;
    border-radius: 0px !important;
    background-color: var(--borderlessInputBackground) !important;
}

.hidden {
    display: none;
}

.number-input {
    padding: 0 0.5rem !important;
    margin: 0 !important;
    height: fit-content !important;
    width: 100% !important;
    border: none !important;
    font-size: 0.9rem;
    letter-spacing: 2px;
}

::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
}

.country-code {
    width: 3.5rem;
    font-size: 0.9rem;
    border-right: 2px solid var(--gray);
}

body {
    display: flex;
    height: 100vh;
}

#section-type-container {
    display: grid;
    grid-template-columns: min-content 1fr;
    height: 100%;
    width: 100%;
}

:root.dark .nav-item:hover {
    color: black;
}

.content {
    position: relative;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
}

.content__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    width: 100%;
}

.content__top > div {
    display: flex;
    gap: 0.5rem;
    align-items: flex-end;
}

.content__top-title {
    font-size: 1.3rem;
}

img {
    width: 2rem;
}

.content__center {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.content__center-left__section-title {
    font-size: 2.3rem;
}

.content__center-left__section-description {
    font-size: 1rem;
}

.content__center-right__options {
    position: relative;
    overflow: visible;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}