@import url("./fonts.css");

:root.dark {
    --text: #e6fbff;
    --background: #011e23;
    --lighterPrimary: #ff8e7a;
    --primary: #fd765e;
    --secondary: #272d01;
    --accent: #f62804;
    --transparent: #f0f8ff00;
    --borderDefaultGray: 1px solid rgb(31, 31, 31);
}

:root {
    --text: #011e23;
    --background: white;
    --lighterPrimary: #ff8e7a;
    --primary: #fd765e;
    --secondary: #272d01;
    --accent: #f62804;
    --transparent: #f0f8ff00;
    --gray: #e7e7e7;
    --borderDefaultGray: 2px solid var(--gray);
    --borderDefaultPrimary: 2px solid var(--primary);
    --borderDefaultDarker: 2px solid #ececec;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--background);
    color: var(--text);
    /* overflow: hidden; */
}

p, h1, h2, h3, h4, h5, h6 {
    cursor: default;
}

button, input[type="file"] {
    cursor: pointer;
}

svg {
    fill: black;
    pointer-events: none;
}

.button-primary {
    padding: 0.5rem 0.9rem;
    font-size: 0.8rem;
    background-color: var(--primary);
    color: black;
    border-radius: 20px;
    border: none;
    transition: 250ms ease;
}

.button-primary:hover {
    background-color: #ff8e7a;
}

.page {
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    position: fixed;
    top: 100%;
    transition: 450ms ease-out;
    opacity: 0;
}

.page.active {
    top: 0%;
    opacity: 1;
}

#flashes {
    position: fixed;
    left: 0%;
    bottom: 3.5%;
    max-width: max-content;
    z-index: 9990;
    margin: 1em;
    background-color: var(--transparent);
    pointer-events: none;
}

#container {
    width: 100vw;
    height: 100vh;
}

.message {
    padding: 0.5em 1.2em;
    font-size: 0.9rem;
    margin-bottom: 0.5em;
    border: none;
    width: fit-content;
    border-radius: 15px;
    list-style: none;
    opacity: 0;
    position: relative;
    color: black;
    background-color: var(--primary);
    transition: 500ms;
    pointer-events: none;
}

.message.active {
    margin-left: 1.1em;
    opacity: 1;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="email"],
input[type="password"],
.number,
select,
.input-style {
    padding: 0.7rem;
    border-radius: 5px;
    border: 2px solid var(--gray);
    height: 47px;
}

.input-style > input {
    height: 1rem;
}

.hidden {
    display: none;
}

::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
}

.country-code {
    width: 11%;
    font-size: 0.9rem;
    border-right: 2px solid var(--text);
}

body {
    display: flex;
    height: 100vh;
}

#section-type-container {
    display: grid;
    grid-template-columns: min-content 1fr;
    height: 100%;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    border-right: var(--borderDefaultGray);
}

#nav-items {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    cursor: pointer;
    transition: 500ms;
}

.nav-item > * {
    pointer-events: none;
}

.nav-item > div {
    width:  3.5rem;
    height: 3.5rem;
    border-radius: 20px;
    display: grid;
    place-items: center;
    background-color: #eee;
    transition: 250ms ease;
}

.nav-item:hover > div {
    background-color: var(--primary);
}

.nav-item > div > svg {
    width: 1.2rem;
}

.nav-item > p {
    font-size: 0.8rem;
    margin-top: 5px;
}

@media screen and (max-width: 1280px) {
    .nav-item {
        padding: 0.5rem 1rem;
    }
    .nav-item > div {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 13px;
    }
    .nav-item > p {
        font-size: 0.65rem;
        margin-top: 5px;
    }
}

:root.dark .nav-item:hover {
    color: black;
}

:root .nav-item:hover {
    color: var(--accent);
}

.section-child {
    position: relative;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
}

.section-child__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    width: 100%;
}

.section-child__top > div {
    display: flex;
    gap: 0.5rem;
    align-items: flex-end;
}

.section-child__top-title {
    font-size: 1.3rem;
}

img {
    width: 2rem;
}

.section-child__center {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.section-child__center-left__section-title {
    font-size: 2.3rem;
}

.section-child__center-left__section-description {
    font-size: 1rem;
}

.section-child__center-right__options {
    position: relative;
    overflow: visible;
}