@import url("./fonts.css");
@import url("./field.css");

:root.dark {
    --text: #e6fbff;
    --background: #011e23;
    --lighterPrimary: #ff8e7a;
    --primary: #fd765e;
    --secondary: #272d01;
    --accent: #f62804;
    --transparent: #f0f8ff00;
    --borderDefaultGray: 1px solid rgb(31, 31, 31);
}

:root {
    --text: #efe6ec;
    --background: #160e13;
    --borderlessInputBackground: #241e21;
    --primary: #a77277;
    --navHover: #422b38;
    --navActive: #5f3e51;
    --secondary: #2f241d;
    --accent: #a78772;

    --lighterPrimary: var(--primary);
    --lightestPrimary: var(--primary);
    --transparent: #f0f8ff00;
    --gray: #343434;
    --borderDefaultGray: 1px solid var(--gray);
    --borderDefaultPrimary: 1px solid var(--primary);
    --borderDefaultDarker: 1px solid #ececec;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    color: var(--text) !important;
}

p, h1, h2, h3, h4, h5, h6 {
    cursor: default;
}

input {
    color: var(--text);
}

button, input[type="file"] {
    cursor: pointer;
}

dialog {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border-radius: 10px;
    border: var(--borderDefaultGray);
    width: 450px;
    background-color: var(--background);
}

dialog::backdrop {
    background-color: rgba(34, 34, 34, 0.575);
    z-index: 990;
}

svg {
    fill: var(--text);
    pointer-events: none;
}

.button-primary {
    padding: 0.5rem 0.9rem;
    font-size: 0.8rem;
    background-color: var(--primary);
    color: var(--background);
    border-radius: 20px;
    border: none;
    transition: 250ms ease;
}

.button-primary:hover {
    background-color: var(--accent);
}

.page {
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    position: fixed;
    top: 100%;
    transition: 450ms ease-out;
    opacity: 0;
}

.page.active {
    top: 0%;
    opacity: 1;
}

#flashes {
    position: fixed;
    left: 0%;
    bottom: 3.5%;
    max-width: max-content;
    z-index: 9990;
    margin: 1em;
    background-color: var(--transparent);
    pointer-events: none;
}

#container {
    width: 100vw;
    height: 100vh;
}

.message {
    padding: 0.5em 1.2em;
    font-size: 0.9rem;
    margin-bottom: 0.5em;
    border: none;
    width: fit-content;
    border-radius: 15px;
    list-style: none;
    opacity: 0;
    position: relative;
    color: black;
    background-color: var(--primary);
    transition: 500ms;
    pointer-events: none;
}

.message.active {
    margin-left: 1.1em;
    opacity: 1;
}

.borderless-input {
    border: none !important;
    border-bottom: 1px solid var(--gray) !important;
    border-radius: 0px !important;
    background-color: var(--borderlessInputBackground) !important;
}

.hidden {
    display: none;
}

.number-input {
    padding: 0 0.5rem !important;
    margin: 0 !important;
    height: fit-content !important;
    width: 100% !important;
    border: none !important;
    font-size: 0.9rem;
    letter-spacing: 2px;
}

::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
}

.country-code {
    width: 3.5rem;
    font-size: 0.9rem;
    border-right: 2px solid var(--gray);
}

body {
    display: flex;
    height: 100vh;
}

#section-type-container {
    display: grid;
    grid-template-columns: min-content 1fr;
    height: 100%;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    border-right: var(--borderDefaultGray);
}

#nav-items {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    cursor: pointer;
    transition: 500ms;
}

.nav-item > * {
    pointer-events: none;
}

.nav-item > div {
    width: 3.3rem;
    height: 1.8rem;
    border-radius: 20px;
    display: grid;
    place-items: center;
    transition: 250ms ease;
}

.nav-item:hover > div {
    background-color: var(--navHover);
}

.nav-item.active > div {
    width:  3.5rem;
    background-color: var(--navActive);
}

#bill-icon {
    width: 1.3rem;
}

.nav-item:hover > div > #user-icon > circle,
.nav-item:hover > div > #user-icon > path,
.nav-item:hover > div > #users-icon > circle,
.nav-item:hover > div > #users-icon > path,
.nav-item:hover > div > #power-icon > line,
.nav-item:hover > div > #power-icon > path {
    stroke-width: 22;
}

.nav-item:hover > div > #bill-icon > path {
    stroke-width: 3;
}

#user-icon > circle,
#user-icon > path,
#users-icon > circle,
#users-icon > path,
#power-icon > line,
#power-icon > path,
#bill-icon > path {
    stroke: var(--text);
}


.nav-item > div > svg {
    width: 1.4rem;
}

.nav-item > p {
    font-size: 0.7rem;
}

@media screen and (max-width: 1280px) {
    .nav-item {
        padding: 0.5rem 1rem;
    }
    .nav-item > div {
        width: 2.5rem;
        border-radius: 13px;
    }
    .nav-item > p {
        font-size: 0.65rem;
        margin-top: 5px;
    }
}

:root.dark .nav-item:hover {
    color: black;
}

.content {
    position: relative;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
}

.content__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    width: 100%;
}

.content__top > div {
    display: flex;
    gap: 0.5rem;
    align-items: flex-end;
}

.content__top-title {
    font-size: 1.3rem;
}

img {
    width: 2rem;
}

.content__center {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.content__center-left__section-title {
    font-size: 2.3rem;
}

.content__center-left__section-description {
    font-size: 1rem;
}

.content__center-right__options {
    position: relative;
    overflow: visible;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}