#table-data {
    border: var(--borderDefaultGray);
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    height: 100%;
    overflow-y: scroll;
}

#table-data-title {
    border-bottom: var(--borderDefaultGray);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#table-data-title > p {
    font-size: 1rem;
}

#table-data-title > div {
    display: flex;
    gap: 1rem;
    align-items: center;
}

#table-data-headers {
    border-bottom: var(--borderDefaultGray);
}

/* For table data with meter number */
/*
#table-data-headers, .table-info {
    display: grid;
    grid-template-columns: 10% 15% 30% 10% 10% 10% 10% 5%;
}

#table-data-headers.account, .table-info.account {
    grid-template-columns: 6% 12% 6% 6% 6% 7% 6% 8% 6% 5% 5% 6% 7% 10% 4%;
}
*/

#table-data-headers, .table-info {
    display: grid;
    grid-template-columns: 10% 20% 35% 10% 10% 10% 5%;
}

#table-data-headers.account, .table-info.account {
    grid-template-columns: 6% 15% 6% 6% 7% 6% 8% 6% 5% 5% 6% 7% 13% 4%;
}

.table-info {
    position: relative;
}

#table-data-rows {
    height: min-content;
    max-height: 100%;
}

.table-info__options {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 5%;
    bottom: -10%;
    margin: 1rem;
    padding: 1rem;
    background-color: var(--borderlessInputBackground);
    border: var(--borderDefaultGray);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    border-radius: 10px;
    transition: 250ms ease-out;
    z-index: 2;
}

.table-info__profile {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 80%;
    padding: 0.5rem;
    width: 150px;
    height: 150px;
    background-color: var(--borderlessInputBackground);
    display: grid;
    place-items: center;
    border-radius: 10px;
    transition: 250ms ease-out;
    z-index: 2;
}

/* client profile picture */
.table-info__profile img {
    object-fit: contain;
    width: 100%;
}

.table-info__profile.active {
    opacity: 1;
    pointer-events: all;
    top: 95%;
}

.table-info__options.active {
    opacity: 1;
    pointer-events: all;
    bottom: 0%;
}

.table-info__options > p {
    font-size: 1rem;
}

.table-info__options-item-box {
    display: flex;
    border-radius: 10px;
    gap: 0.5rem;
}

.table-info__options-item {
    font-size: 0.8rem;
    height: 5rem;
    width: fit-content;
    min-width: 5rem;
    padding: 0 0.5rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: var(--navHover);
    cursor: pointer;
    transition: 250ms ease;
}

.table-info__options-item > * {
    pointer-events: none;
}

.table-info__options-item:hover {
    background-color: var(--primary);
}

.table-info__options-item:hover > svg {
    fill: var(--background);
}

.table-info__options-item:hover > p {
    color: var(--background);
}

.table-info__options-item > svg {
    width: 1.3rem;
}

.icon-box {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 5px;
    background-color: var(--lighterPrimary);
    display: grid;
    place-items: center;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu {
    width: 1rem;
    display: grid;
    place-items: center;
}

.table-data-headers__item, .table-info__item {
    font-size: 0.75rem;
    position: relative;
    text-align: center;
    overflow-wrap: break-word;
}

.table-data-headers__item > p {
    margin: 1.1rem 5px;
}

.table-info__item {
    font-size: 0.85rem;
    overflow-wrap: break-word;
    /* background-color: var(--gray); */
}

.table-info__item > p {
    margin: 1rem 5px;
}

.table-data-headers__item:last-child,
.table-info__item:last-child,
.table-info:last-child {
    border-right: none;
    border-bottom: none;
}

@media screen and (max-width: 1300px) {
    .table-data-headers__item, .table-info__item {
        font-size: 0.75rem;
   }
}