#flashes {
    position: fixed;
    left: 0%;
    bottom: 0%;
    max-width: max-content;
    z-index: 520;
    margin: 1em;
    background-color: var(--transparent);
    pointer-events: none;
}

#container {
    width: 100vw;
    height: 100vh;
}

.message {
    background-color: var(--primary);
    padding: 0.4em 1.2em;
    margin-bottom: 0.5em;
    pointer-events: none;
    border-radius: 20px;
    position: relative;
    width: fit-content;
    font-size: 0.9rem;
    border: none;
    color: black;
}

.message:last-child {
    margin-bottom: 0;
}

.message[open] {
    animation: fade-in 500ms forwards;
}

.message[open].close {
    animation: fade-out 500ms forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}