#client, .content__form {
    height: 95vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content__form {
    height: min-content !important;
}
#user-form {
    gap: 2rem;
}

#user-form-title {
    font-size: 2rem;
}

#new-client-form-title {
    font-size: 2.2rem;
    margin: 0.5rem 0 3rem 0;
}

.content__form-box__group {
    display: flex;
    gap: 2rem;
}

.content__form-box {
    height: 75vh;
    overflow-y: scroll;
}

.content__form-box,
.content__form-box__group__left {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    /* border: 2px solid orange; */
}

.content__form-box__input-box {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.content__form-box__input-box__inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.content__form-box__input-box__inputs > * {
    width: 20%;
}

.form-field__info__label > label {
    font-size: 0.9rem;
}

#duplicate-addresses-box, #duplicate-addresses-box > div {
    display: flex; 
    gap: 0.5rem;
    align-items: center;
}

#duplicate-addresses-box {
    gap: 2rem;
}

input[name="presentAddressDetails"] {
    width: 215px;
}

input[name="presentAddressDetails"],
input[name="mainAddressDetails"] {
    width: 413px;
}

.last {
    display: flex;
    justify-content: flex-end;
}

#client-register-submit-button {
    font-size: 1rem;
    margin-right: 7rem;
    width: 170px;
    background-color: white;
    border: 2px solid black;
}

.form-field__drop {
    width: 50rem;
    height: fit-content;
    border-radius: 10px;
    border: var(--borderDefaultGray);
    border-style: dashed;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem;
    position: relative;
    transition: 250ms ease;
    gap: 1rem;
}

.form-field__drop:hover {
    border: var(--borderDefaultPrimary);
    border-style: dashed;
}

.form-field__drop > .form-field__drop__message > * {
    fill: #bbbbbb;
    color: #bbbbbb;
}

.form-field__drop:hover > .form-field__drop__message > * {
    fill: var(--primary);
    color: var(--primary);
}

.form-field__drop__message {
    margin: 0 auto;
    padding: 2rem 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.form-field__drop__message > p:nth-child(3) {
    font-size: 0.8rem;
}

.form-field__drop__message > svg {
    width: 10rem;
}

.form-field__drop__preview {
    display: flex;
    flex-direction: column;
    width: 5rem;
    height: fit-content;
}

.form-field__drop__preview__delete {
    width: fit-content;
    height: fit-content;
    padding: 3px 5px;
    font-size: 0.6rem;
    border-radius: 20px;
    background-color: #eee;
    color: black;
    transition: 250ms ease;
    margin-bottom: 5px;
}

.form-field__drop__preview__delete:hover {
    background-color: var(--lighterPrimary);
    color: white;
    cursor: pointer;
}

.form-field__drop__preview__image {
    width: 100%;
    height: 5rem;
    object-fit: cover;
    margin-bottom: 10px;
}

.form-field__drop__preview__text {
    font-size: 0.6rem;
    overflow-wrap: break-word;
    color: var(--text) !important;
}

@media screen and (orientation: portrait) {

    .content__form-box__group {
        flex-direction: column-reverse;
    }

    form-field {
        margin: 0 auto;
        position: static;
        transform: translateY(0%);
    }
    
    #client-form-video {
        width: 50vw;
        height: 50vw;
    }
    
    form-profile-box__canvas {
        width: 50vw;
        height: 50vw;
        object-fit: contain;
        position: relative;
        z-index: 2;
        pointer-events: none;
        border: 2px solid black;
    }
    
    #client-register-profile {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    #client-register-submit-button {
        margin-right: 0rem;
    }
}