#forget-password-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#forget-password-form-title {
    font-size: 1.2rem;
    color: var(--text);
}

#forget-password-form-buttons {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1rem;
}

#forget-password-form__input-box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#forget-password-form__input-box__warning {
    font-size: 0.8rem;
    color: red;
}

#forget-password-form-input-box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#forget-password-form-input-box-header > * {
    font-size: 0.8rem;
    color: var(--text)
}

#recovery-code-field__info__label, #email-field__info__label, #password-field__info__label {
    color: white;
}

/* #forget-password-form-form-input-box input {
    padding: 0.5rem;
    width: 100%;
    border: var(--borderDefaultGray);
} */
